In [1]:
import pandas as pd
import sqlite3
import datetime

In [2]:
con = sqlite3.connect("C:/Users/Administrator/Documents/GitHub/Wildfire-and-Climate-Change/data/wildfires.sqlite")

In [3]:
pd.set_option('display.max_columns', 500)

In [4]:
fire = pd.read_sql_query("SELECT * from fires", con)
fire.head()

,OBJECTID,FOD_ID,FPA_ID,SOURCE_SYSTEM_TYPE,SOURCE_SYSTEM,NWCG_REPORTING_AGENCY,NWCG_REPORTING_UNIT_ID,NWCG_REPORTING_UNIT_NAME,SOURCE_REPORTING_UNIT,SOURCE_REPORTING_UNIT_NAME,LOCAL_FIRE_REPORT_ID,LOCAL_INCIDENT_ID,FIRE_CODE,FIRE_NAME,ICS_209_INCIDENT_NUMBER,ICS_209_NAME,MTBS_ID,MTBS_FIRE_NAME,COMPLEX_NAME,FIRE_YEAR,DISCOVERY_DATE,DISCOVERY_DOY,DISCOVERY_TIME,STAT_CAUSE_CODE,STAT_CAUSE_DESCR,CONT_DATE,CONT_DOY,CONT_TIME,FIRE_SIZE,FIRE_SIZE_CLASS,LATITUDE,LONGITUDE,OWNER_CODE,OWNER_DESCR,STATE,COUNTY,FIPS_CODE,FIPS_NAME,Shape
0,1,1,FS-1418826,FED,FS-FIRESTAT,FS,USCAPNF,Plumas National Forest,0511,Plumas National Forest,1,PNF-47,BJ8K,FOUNTAIN,None,None,None,None,None,2005,2453403.5,33,1300,9.0,Miscellaneous,2453403.5,33.0,1730,0.10,A,40.036944,-121.005833,5.0,USFS,CA,63,063,Plumas,b'\x00\x01\xad\x10\x00\x00\xe8d\xc2\x92_@^\xc0...
1,2,2,FS-1418827,FED,FS-FIRESTAT,FS,USCAENF,Eldorado National Forest,0503,Eldorado National Forest,13,13,AAC0,PIGEON,None,None,None,None,None,2004,2453137.5,133,0845,1.0,Lightning,2453137.5,133.0,1530,0.25,A,38.933056,-120.404444,5.0,USFS,CA,61,061,Placer,b'\x00\x01\xad\x10\x00\x00T\xb6\xeej\xe2\x19^\...
2,3,3,FS-1418835,FED,FS-FIRESTAT,FS,USCAENF,Eldorado National Forest,0503,Eldorado National Forest,27,021,A32W,SLACK,None,None,None,None,None,2004,2453156.5,152,1921,5.0,Debris Burning,2453156.5,152.0,2024,0.10,A,38.984167,-120.735556,13.0,STATE OR PRIVATE,CA,17,017,El Dorado,b'\x00\x01\xad\x10\x00\x00\xd0\xa5\xa0W\x13/^\...
3,4,4,FS-1418845,FED,FS-FIRESTAT,FS,USCAENF,Eldorado National Forest,0503,Eldorado National Forest,43,6,None,DEER,None,None,None,None,None,2004,2453184.5,180,1600,1.0,Lightning,2453189.5,185.0,1400,0.10,A,38.559167,-119.913333,5.0,USFS,CA,3,003,Alpine,b'\x00\x01\xad\x10\x00\x00\x94\xac\xa3\rt\xfa]...
4,5,5,FS-1418847,FED,FS-FIRESTAT,FS,USCAENF,Eldorado National Forest,0503,Eldorado National Forest,44,7,None,STEVENOT,None,None,None,None,None,2004,2453184.5,180,1600,1.0,Lightning,2453189.5,185.0,1200,0.10,A,38.559167,-119.933056,5.0,USFS,CA,3,003,Alpine,b'\x00\x01\xad\x10\x00\x00@\xe3\xaa.\xb7\xfb]\...

In [5]:
fire.describe()

,OBJECTID,FOD_ID,FIRE_YEAR,DISCOVERY_DATE,DISCOVERY_DOY,STAT_CAUSE_CODE,CONT_DATE,CONT_DOY,FIRE_SIZE,LATITUDE,LONGITUDE,OWNER_CODE
count,1.880465e+06,1.880465e+06,1.880465e+06,1.880465e+06,1.880465e+06,1.880465e+06,9.889340e+05,988934.000000,1.880465e+06,1.880465e+06,1.880465e+06,1.880465e+06
mean,9.402330e+05,5.484020e+07,2.003710e+03,2.453064e+06,1.647191e+02,5.979037e+00,2.453238e+06,172.656766,7.452016e+01,3.678121e+01,-9.570494e+01,1.059658e+01
std,5.428436e+05,1.011963e+08,6.663099e+00,2.434573e+03,9.003891e+01,3.483860e+00,2.687548e+03,84.320348,2.497598e+03,6.139031e+00,1.671694e+01,4.404662e+00
min,1.000000e+00,1.000000e+00,1.992000e+03,2.448622e+06,1.000000e+00,1.000000e+00,2.448622e+06,1.000000,1.000000e-05,1.793972e+01,-1.788026e+02,0.000000e+00
25%,4.701170e+05,5.055000e+05,1.998000e+03,2.451084e+06,8.900000e+01,3.000000e+00,2.450701e+06,102.000000,1.000000e-01,3.281860e+01,-1.103635e+02,8.000000e+00
50%,9.402330e+05,1.067761e+06,2.004000e+03,2.453178e+06,1.640000e+02,5.000000e+00,2.453466e+06,181.000000,1.000000e+00,3.545250e+01,-9.204304e+01,1.400000e+01
75%,1.410349e+06,1.910639e+07,2.009000e+03,2.455036e+06,2.300000e+02,9.000000e+00,2.455754e+06,232.000000,3.300000e+00,4.082720e+01,-8.229760e+01,1.400000e+01
max,1.880465e+06,3.003484e+08,2.015000e+03,2.457388e+06,3.660000e+02,1.300000e+01,2.457392e+06,366.000000,6.069450e+05,7.033060e+01,-6.525694e+01,1.500000e+01

In [6]:
fire.shape

(1880465, 39)

In [7]:
wildfires_cleaned=fire[["SOURCE_REPORTING_UNIT_NAME","FIRE_NAME","FIRE_YEAR","DISCOVERY_DATE","DISCOVERY_DOY","STAT_CAUSE_DESCR","CONT_DATE","CONT_DOY","FIRE_SIZE","FIRE_SIZE_CLASS","LATITUDE","LONGITUDE","STATE","COUNTY","Shape"]]
wildfires_cleaned.head()

,SOURCE_REPORTING_UNIT_NAME,FIRE_NAME,FIRE_YEAR,DISCOVERY_DATE,DISCOVERY_DOY,STAT_CAUSE_DESCR,CONT_DATE,CONT_DOY,FIRE_SIZE,FIRE_SIZE_CLASS,LATITUDE,LONGITUDE,STATE,COUNTY,Shape
0,Plumas National Forest,FOUNTAIN,2005,2453403.5,33,Miscellaneous,2453403.5,33.0,0.10,A,40.036944,-121.005833,CA,63,b'\x00\x01\xad\x10\x00\x00\xe8d\xc2\x92_@^\xc0...
1,Eldorado National Forest,PIGEON,2004,2453137.5,133,Lightning,2453137.5,133.0,0.25,A,38.933056,-120.404444,CA,61,b'\x00\x01\xad\x10\x00\x00T\xb6\xeej\xe2\x19^\...
2,Eldorado National Forest,SLACK,2004,2453156.5,152,Debris Burning,2453156.5,152.0,0.10,A,38.984167,-120.735556,CA,17,b'\x00\x01\xad\x10\x00\x00\xd0\xa5\xa0W\x13/^\...
3,Eldorado National Forest,DEER,2004,2453184.5,180,Lightning,2453189.5,185.0,0.10,A,38.559167,-119.913333,CA,3,b'\x00\x01\xad\x10\x00\x00\x94\xac\xa3\rt\xfa]...
4,Eldorado National Forest,STEVENOT,2004,2453184.5,180,Lightning,2453189.5,185.0,0.10,A,38.559167,-119.933056,CA,3,b'\x00\x01\xad\x10\x00\x00@\xe3\xaa.\xb7\xfb]\...

In [8]:
fires = wildfires_cleaned.rename(columns={"SOURCE_REPORTING_UNIT_NAME":"UNIT_NAME", "STAT_CAUSE_DESCR":"CAUSE_DESCR","FIRE_SIZE_CLASS":"FIRE_CLASS"})
fires.head()

,UNIT_NAME,FIRE_NAME,FIRE_YEAR,DISCOVERY_DATE,DISCOVERY_DOY,CAUSE_DESCR,CONT_DATE,CONT_DOY,FIRE_SIZE,FIRE_CLASS,LATITUDE,LONGITUDE,STATE,COUNTY,Shape
0,Plumas National Forest,FOUNTAIN,2005,2453403.5,33,Miscellaneous,2453403.5,33.0,0.10,A,40.036944,-121.005833,CA,63,b'\x00\x01\xad\x10\x00\x00\xe8d\xc2\x92_@^\xc0...
1,Eldorado National Forest,PIGEON,2004,2453137.5,133,Lightning,2453137.5,133.0,0.25,A,38.933056,-120.404444,CA,61,b'\x00\x01\xad\x10\x00\x00T\xb6\xeej\xe2\x19^\...
2,Eldorado National Forest,SLACK,2004,2453156.5,152,Debris Burning,2453156.5,152.0,0.10,A,38.984167,-120.735556,CA,17,b'\x00\x01\xad\x10\x00\x00\xd0\xa5\xa0W\x13/^\...
3,Eldorado National Forest,DEER,2004,2453184.5,180,Lightning,2453189.5,185.0,0.10,A,38.559167,-119.913333,CA,3,b'\x00\x01\xad\x10\x00\x00\x94\xac\xa3\rt\xfa]...
4,Eldorado National Forest,STEVENOT,2004,2453184.5,180,Lightning,2453189.5,185.0,0.10,A,38.559167,-119.933056,CA,3,b'\x00\x01\xad\x10\x00\x00@\xe3\xaa.\xb7\xfb]\...

In [9]:
fires.shape

(1880465, 15)

In [10]:
print(fires.dtypes)

UNIT_NAME          object
FIRE_NAME          object
FIRE_YEAR           int64
DISCOVERY_DATE    float64
DISCOVERY_DOY       int64
CAUSE_DESCR        object
CONT_DATE         float64
CONT_DOY          float64
FIRE_SIZE         float64
FIRE_CLASS         object
LATITUDE          float64
LONGITUDE         float64
STATE              object
COUNTY             object
Shape              object
dtype: object

In [11]:
#Create a new function:
def num_missing(x):
    return sum(x.isnull())

#Applying per column:
print("Missing values per column:")
## Check how many are missing by column, and then check which ones have any missing values
print(fires.apply(num_missing, axis=0).where(lambda x : x != 0).dropna().head(20)) 
#axis=0 defines that function is to be applied on each column

Missing values per column:
FIRE_NAME    957189.0
CONT_DATE    891531.0
CONT_DOY     891531.0
COUNTY       678148.0
dtype: float64

In [12]:
#remove FIRE_NAME because it is not that important to name a fire and many obs are missing!
del fires ["FIRE_NAME"]

In [13]:
fires.head()

,UNIT_NAME,FIRE_YEAR,DISCOVERY_DATE,DISCOVERY_DOY,CAUSE_DESCR,CONT_DATE,CONT_DOY,FIRE_SIZE,FIRE_CLASS,LATITUDE,LONGITUDE,STATE,COUNTY,Shape
0,Plumas National Forest,2005,2453403.5,33,Miscellaneous,2453403.5,33.0,0.10,A,40.036944,-121.005833,CA,63,b'\x00\x01\xad\x10\x00\x00\xe8d\xc2\x92_@^\xc0...
1,Eldorado National Forest,2004,2453137.5,133,Lightning,2453137.5,133.0,0.25,A,38.933056,-120.404444,CA,61,b'\x00\x01\xad\x10\x00\x00T\xb6\xeej\xe2\x19^\...
2,Eldorado National Forest,2004,2453156.5,152,Debris Burning,2453156.5,152.0,0.10,A,38.984167,-120.735556,CA,17,b'\x00\x01\xad\x10\x00\x00\xd0\xa5\xa0W\x13/^\...
3,Eldorado National Forest,2004,2453184.5,180,Lightning,2453189.5,185.0,0.10,A,38.559167,-119.913333,CA,3,b'\x00\x01\xad\x10\x00\x00\x94\xac\xa3\rt\xfa]...
4,Eldorado National Forest,2004,2453184.5,180,Lightning,2453189.5,185.0,0.10,A,38.559167,-119.933056,CA,3,b'\x00\x01\xad\x10\x00\x00@\xe3\xaa.\xb7\xfb]\...

In [14]:
print(fires.apply(num_missing, axis=0).where(lambda x : x != 0).dropna().head(20))

CONT_DATE    891531.0
CONT_DOY     891531.0
COUNTY       678148.0
dtype: float64

In [15]:
#Julian Calendar conversion
fires['DISC_DATE'] = pd.to_datetime(fires['DISCOVERY_DATE'] - pd.Timestamp(0).to_julian_date(), unit='D')
fires.head()

,UNIT_NAME,FIRE_YEAR,DISCOVERY_DATE,DISCOVERY_DOY,CAUSE_DESCR,CONT_DATE,CONT_DOY,FIRE_SIZE,FIRE_CLASS,LATITUDE,LONGITUDE,STATE,COUNTY,Shape,DISC_DATE
0,Plumas National Forest,2005,2453403.5,33,Miscellaneous,2453403.5,33.0,0.10,A,40.036944,-121.005833,CA,63,b'\x00\x01\xad\x10\x00\x00\xe8d\xc2\x92_@^\xc0...,2005-02-02
1,Eldorado National Forest,2004,2453137.5,133,Lightning,2453137.5,133.0,0.25,A,38.933056,-120.404444,CA,61,b'\x00\x01\xad\x10\x00\x00T\xb6\xeej\xe2\x19^\...,2004-05-12
2,Eldorado National Forest,2004,2453156.5,152,Debris Burning,2453156.5,152.0,0.10,A,38.984167,-120.735556,CA,17,b'\x00\x01\xad\x10\x00\x00\xd0\xa5\xa0W\x13/^\...,2004-05-31
3,Eldorado National Forest,2004,2453184.5,180,Lightning,2453189.5,185.0,0.10,A,38.559167,-119.913333,CA,3,b'\x00\x01\xad\x10\x00\x00\x94\xac\xa3\rt\xfa]...,2004-06-28
4,Eldorado National Forest,2004,2453184.5,180,Lightning,2453189.5,185.0,0.10,A,38.559167,-119.933056,CA,3,b'\x00\x01\xad\x10\x00\x00@\xe3\xaa.\xb7\xfb]\...,2004-06-28

In [16]:
fires['CONTAIN_DATE'] = pd.to_datetime(fires['CONT_DATE'] - pd.Timestamp(0).to_julian_date(), unit='D')
fires.head()

,UNIT_NAME,FIRE_YEAR,DISCOVERY_DATE,DISCOVERY_DOY,CAUSE_DESCR,CONT_DATE,CONT_DOY,FIRE_SIZE,FIRE_CLASS,LATITUDE,LONGITUDE,STATE,COUNTY,Shape,DISC_DATE,CONTAIN_DATE
0,Plumas National Forest,2005,2453403.5,33,Miscellaneous,2453403.5,33.0,0.10,A,40.036944,-121.005833,CA,63,b'\x00\x01\xad\x10\x00\x00\xe8d\xc2\x92_@^\xc0...,2005-02-02,2005-02-02
1,Eldorado National Forest,2004,2453137.5,133,Lightning,2453137.5,133.0,0.25,A,38.933056,-120.404444,CA,61,b'\x00\x01\xad\x10\x00\x00T\xb6\xeej\xe2\x19^\...,2004-05-12,2004-05-12
2,Eldorado National Forest,2004,2453156.5,152,Debris Burning,2453156.5,152.0,0.10,A,38.984167,-120.735556,CA,17,b'\x00\x01\xad\x10\x00\x00\xd0\xa5\xa0W\x13/^\...,2004-05-31,2004-05-31
3,Eldorado National Forest,2004,2453184.5,180,Lightning,2453189.5,185.0,0.10,A,38.559167,-119.913333,CA,3,b'\x00\x01\xad\x10\x00\x00\x94\xac\xa3\rt\xfa]...,2004-06-28,2004-07-03
4,Eldorado National Forest,2004,2453184.5,180,Lightning,2453189.5,185.0,0.10,A,38.559167,-119.933056,CA,3,b'\x00\x01\xad\x10\x00\x00@\xe3\xaa.\xb7\xfb]\...,2004-06-28,2004-07-03

In [17]:
#Deleted the Julian calendar columns for Discovery date and Contaned date which were converted to normal datetime format in DISC_DATE and CONTAIN_DATE
del fires ["DISCOVERY_DATE"]
del fires ["CONT_DATE"]

In [18]:
fires.head()

,UNIT_NAME,FIRE_YEAR,DISCOVERY_DOY,CAUSE_DESCR,CONT_DOY,FIRE_SIZE,FIRE_CLASS,LATITUDE,LONGITUDE,STATE,COUNTY,Shape,DISC_DATE,CONTAIN_DATE
0,Plumas National Forest,2005,33,Miscellaneous,33.0,0.10,A,40.036944,-121.005833,CA,63,b'\x00\x01\xad\x10\x00\x00\xe8d\xc2\x92_@^\xc0...,2005-02-02,2005-02-02
1,Eldorado National Forest,2004,133,Lightning,133.0,0.25,A,38.933056,-120.404444,CA,61,b'\x00\x01\xad\x10\x00\x00T\xb6\xeej\xe2\x19^\...,2004-05-12,2004-05-12
2,Eldorado National Forest,2004,152,Debris Burning,152.0,0.10,A,38.984167,-120.735556,CA,17,b'\x00\x01\xad\x10\x00\x00\xd0\xa5\xa0W\x13/^\...,2004-05-31,2004-05-31
3,Eldorado National Forest,2004,180,Lightning,185.0,0.10,A,38.559167,-119.913333,CA,3,b'\x00\x01\xad\x10\x00\x00\x94\xac\xa3\rt\xfa]...,2004-06-28,2004-07-03
4,Eldorado National Forest,2004,180,Lightning,185.0,0.10,A,38.559167,-119.933056,CA,3,b'\x00\x01\xad\x10\x00\x00@\xe3\xaa.\xb7\xfb]\...,2004-06-28,2004-07-03

In [19]:
#Missing values
#deleting the COUNTY column because of 37.7% missing values
del fires["COUNTY"]

In [20]:
print(fires.dtypes)

UNIT_NAME                object
FIRE_YEAR                 int64
DISCOVERY_DOY             int64
CAUSE_DESCR              object
CONT_DOY                float64
FIRE_SIZE               float64
FIRE_CLASS               object
LATITUDE                float64
LONGITUDE               float64
STATE                    object
Shape                    object
DISC_DATE        datetime64[ns]
CONTAIN_DATE     datetime64[ns]
dtype: object

In [21]:
fires.to_sql('wildfirecleaned', con, if_exists='replace', index=False)
pd.read_sql('select * from wildfirecleaned', con)

,UNIT_NAME,FIRE_YEAR,DISCOVERY_DOY,CAUSE_DESCR,CONT_DOY,FIRE_SIZE,FIRE_CLASS,LATITUDE,LONGITUDE,STATE,Shape,DISC_DATE,CONTAIN_DATE
0,Plumas National Forest,2005,33,Miscellaneous,33.0,0.10,A,40.036944,-121.005833,CA,b'\x00\x01\xad\x10\x00\x00\xe8d\xc2\x92_@^\xc0...,2005-02-02 00:00:00,2005-02-02 00:00:00
1,Eldorado National Forest,2004,133,Lightning,133.0,0.25,A,38.933056,-120.404444,CA,b'\x00\x01\xad\x10\x00\x00T\xb6\xeej\xe2\x19^\...,2004-05-12 00:00:00,2004-05-12 00:00:00
2,Eldorado National Forest,2004,152,Debris Burning,152.0,0.10,A,38.984167,-120.735556,CA,b'\x00\x01\xad\x10\x00\x00\xd0\xa5\xa0W\x13/^\...,2004-05-31 00:00:00,2004-05-31 00:00:00
3,Eldorado National Forest,2004,180,Lightning,185.0,0.10,A,38.559167,-119.913333,CA,b'\x00\x01\xad\x10\x00\x00\x94\xac\xa3\rt\xfa]...,2004-06-28 00:00:00,2004-07-03 00:00:00
4,Eldorado National Forest,2004,180,Lightning,185.0,0.10,A,38.559167,-119.933056,CA,b'\x00\x01\xad\x10\x00\x00@\xe3\xaa.\xb7\xfb]\...,2004-06-28 00:00:00,2004-07-03 00:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1880460,Shasta-Trinity Unit,2015,269,Missing/Undefined,269.0,0.01,A,40.481637,-122.389375,CA,b'\x00\x01\xad\x10\x00\x00P\xb8\x1e\x85\xeb\x9...,2015-09-26 00:00:00,2015-09-26 00:00:00
1880461,Tuolumne-Calaveras Unit,2015,278,Miscellaneous,NaN,0.20,A,37.617619,-120.938570,CA,b'\x00\x01\xad\x10\x00\x00\x00\x80\xbe\x88\x11...,2015-10-05 00:00:00,None
1880462,Tuolumne-Calaveras Unit,2015,122,Missing/Undefined,NaN,0.10,A,37.617619,-120.938570,CA,b'\x00\x01\xad\x10\x00\x00\x00\x80\xbe\x88\x11...,2015-05-02 00:00:00,None
1880463,Tuolumne-Calaveras Unit,2015,287,Missing/Undefined,NaN,2.00,B,37.672235,-120.898356,CA,b'\x00\x01\xad\x10\x00\x00x\xba_\xaa~9^\xc0\xb...,2015-10-14 00:00:00,None
1880464,CDF - San Bernardino Unit,2015,73,Miscellaneous,NaN,0.10,A,34.263217,-116.830950,CA,b'\x00\x01\xad\x10\x00\x00\x1c\xa7\xe8H.5]\xc0...,2015-03-14 00:00:00,None